<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CareerHack</title>
        <!-- Jquery -->
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap js -->
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
        <!-- Bootstrap Theme -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"></script>
        <!-- Local CSS -->
    	<link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    	<div class="container-fluid">
	    	<div class="header">
	    		<h1>CareerHack</h1>
	    	</div>
	    </div>
	    <div class="container-fluid">
	    	<!-- <div class="slideshow"></div> -->
	    	<div class="billboard">
		    	<div class="jumbotron">
				  <h1>Nail your technical interviews.</h1>
				  <p>Join us at CareerHack</p>
				  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
				</div>
			</div>
	    </div>
	    <div class="container-fluid">
	    	<div class="companies">
	    		<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Some of our companies...</h3>
				  </div>
				  <div class="panel-body">
				    <ul>
		    			{% for company in companies_list %}
		    				<li><a href="{{ url }}{{ company }}">{{ company }}</a></li>
		    			{% endfor %}
	    			</ul>
				  </div>
				</div>
	    	</div>
	    <div class="container-fluid">
	    	<div class="topics">
	    		<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4 class="panel-title">Topics</h4>
				  </div>
				  <div class="panel-body">
				    <ul>
		    			{% for topic in topic_list %}
		    				<li><a href="Topics/{{ topic }}">{{ topic }}</a></li>
		    			{% endfor %}
	    			</ul>
				  </div>
				</div>
	    	</div>
	    <div class="container-fluid">
	    	<div class="jobs">
	    		<div class="panel panel-default">
				  <div class="panel-heading">
				    <h5 class="panel-title">Jobs<h5>
				  </div>
				  <div class="panel-body">
				    <ul>
		    			{% for job in job_list %}
		    				<li><a href="Coding/{{ topic }}">{{ job }}</a></li>
		    			{% endfor %}
	    			</ul>
				  </div>
				</div>
	    	</div>
    </body>
</html>

