<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CareerHack</title>
        <!-- Jquery -->
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap js -->
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
        <!-- Bootstrap Theme -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"></script>
        <!-- Local CSS -->
    	<link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    	<div class="container-fluid">
	    	<div class="header">
	    		<h1>CareerHack</h1>
	    	</div>
	    </div>
	    <div class="container-fluid">
	    	<div class="slideshow"></div>
	    </div>
	    <div class="container-fluid">
	    	<div class="companies">
	    		<h1>Some of our companies...</h1>
	    	</div>
    </body>
</html>

